body,
#root {
    background-color: black;
}


/* =========== custom scroll-bar ========= */

::-webkit-scrollbar {
    width: 10px;
    background: #70303c;
}

::-webkit-scrollbar-thumb {
    border-radius: 2em;
    background: linear-gradient(-45deg, #22769c, #2270f7, #194eaf, #10678f);
}